main {
	max-width: 70ch;
	margin: auto;
	display: flex;
	flex-flow: column;
}

/* Layout */

body {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	display: flex;
	flex-flow: row;
	margin: 0;
}

/* Homepage */

#homepage {
	height: 100vh;
}

#homepage h1 {
	font-size: clamp(1.6rem, 7vw, 3rem);
	margin-top: auto;
	margin-bottom: 0.2rem;
}

#homepage nav {
	margin-top: 0.2rem;
	margin-bottom: auto;
}
