---
layout: base
extra-js: 
    - "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"
---

<script type="text/x-mathjax-config">
MathJax.Hub.Config({ 
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        displayMath: [["$$","$$"], ["\\[", "\\]"] ],
        processEscapes: true
    },
    TeX: {
        noUndefined: {
            attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" }
        }
    },
    CommonHTML:{
        linebreaks: {automatic: true},
        scale: 95,
        mtextFontInherit: true,
    matchFontHeight: true
    },
    "HTML-CSS":{
        linebreaks: {automatic: true},
        scale: 95,
         mtextFontInherit: true,
         matchFontHeight: true
    }
});
</script>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="/about" class="site-avatar"><img src="https://www.yulingyao.com/images/common/head.png" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="/">Yuling Yao's Blog</a></h1>
            <p class="site-description">Bayesian Statistics, Machine Learning</p>
          </div>

          <nav>
             
            <a href="https://yulingyao.com/blog">Blog</a>
            <a href="https://yulingyao.com">Home</a>
            <a href="https://yulingyao.com/cnblog" style="font-size: 80%;">中文</a>

            <div class="icon_top">
             <a href="/cdn-cgi/l/email-protection#6b0907040c2b121e0702050c120a0445080406"><i class="svg-icon email"></i></a>



<a href="/feed.xml"><i class="svg-icon rss"></i></a>
<a href="https://www.twitter.com/YulingYao"><i class="svg-icon twitter"></i></a>
        </div> 
          
           </nav>

          
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      <article class="post">
  <h1>My website was hacked!</h1>


 
  <span class="date" >
    Posted by <a href="https://www.yulingyao.com" style="color: inherit" >Yuling Yao</a> on Oct 26, 2024. &#160;   &#160;   &#160; 
  </span>
   


 
<span class="tags"> Tag: <u>zombie</u> &#160;</span>
  <div class="entry">
    <p>This week I received a shocking email from Jinlin, that my personal website was hacked—It was redirected to some scam webpage and all my blogs were missing. No joking, website-being-hacked can still happen in 2024.</p>






<div class="footnotes" role="doc-endnotes">
  <ol>
    <li id="fn:1" role="doc-endnote">
      <p></p>
    </li>
  </ol>
</div>

  </div>
</article>

</div>
